{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TShell</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'frontend/images/favicon.png' %}">
</head>
<body>
  <canvas>
  </canvas>
              
      <div class="terminal" id="terminal">
        <div class="header">
          <div class="buttons">
            <a href="#" onclick="reloadPage()"><span class="button close"></span></a>
            
          </div>
          <div class="title">Tawfiq@portfolio: ~</div>
        </div>
        <div class="body" id="terminal-body">
          
          
          <div id="command-output">
            <!-- New Line for Spacing -->
            <br>
            
            <!-- ASCII Art for TSHELL -->
            <pre class="ascii-art">
 ████████╗ ███████╗██╗  ██╗███████╗██╗     ██╗     
 ╚══██╔══╝ ██╔════╝██║  ██║██╔════╝██║     ██║     
    ██║    ███████╗███████║█████╗  ██║     ██║     
    ██║    ╚════██║██╔══██║██╔══╝  ██║     ██║     
    ██║    ███████║██║  ██║███████╗███████╗███████╗
    ╚═╝    ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝
          </pre>
        
          <!-- Final Message -->
          <p class="intro-text">
            Tshell. Version 1.0
          </p>
          <p class="intro-text">
            All rights reserved &copy; 2025
          </p>
          <p class="intro-text" style="animation-delay: .9s;">
            Type <span class="command">about</span> to see basic information about me.
          </p>
          <p class="intro-text" style="animation-delay: 1.8s;">
            Type <span class="command">help</span> to see available commands.
          </p>
        </div>
        <div class="input-line">
          <span class="user">Tawfiq@portfolio</span>:<span class="path">~</span>$ 
          <input type="text" id="command-input" name="command" hx-get="{% url 'execute_command' %}" hx-trigger="keydown[key=='Enter']" hx-target="#command-output" hx-swap="beforeend" hx-vals="js:{command: document.getElementById('command-input').value}"   autofocus>
        </div>
      </div>
    </div>
  <script src="{% static 'frontend/js/main.js' %}"></script>
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>